.chip-holder {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
}

.chip-holder button {
    background-color: var(--color-surface-variant);
    fill: var(--color-on-surface-variant-light);
    margin: 0 !important;
}

.chip-holder button.active{
    background-color: var(--color-primary);
    fill: var(--color-on-primary);
    color: var(--color-on-primary)
}

.chip-holder button:hover {
    background-color: var(--color-primary-light);
    fill: var(--color-primary);
    color: var(--color-primary);
}

.chip-holder button.active:hover{
    background-color: var(--color-primary-variant);
    fill: var(--color-on-primary);
    color: var(--color-on-primary)
}

.chip-holder button svg {
    height: var(--medium-font);
}