.pdf-editor {
    position: relative;
}

.pdf-editor>div {
    height: 100vh;
    display: flex;
    align-items: center;
    overflow: auto;
    background-color: var(--pdf-editor-bg);
    gap: 1rem;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    overflow: hidden;
}

/* .pdf-editor */



/* panel */
.pdf-editor .panel-top {
    margin-top: 8px;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    width: 100%;
}


.pdf-editor .panel-top button.plain {
    color: white;
    fill: white;
}


.pdf-editor .center {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    background-color: rgba(255, 255, 255, 0.089);
    padding: 0.5em;
    border-radius: 50px;
}

.pdf-editor .panel-top .center .color-pick {
    width: 24px;
    height: 24px;
    border: 1px solid rgba(255, 255, 255, 0.24);
    display: block;
    border-radius: 50%;
    background-color: transparent;
}

.pdf-editor .panel-top  .color-pick.c1{
    background-color: #ffb703;
}
.pdf-editor .panel-top  .color-pick.c2{
    background-color: #219ebc;
}

.pdf-editor .panel-top  .color-pick.c3{
    background-color: #ff006e;
}
.pdf-editor .panel-top  .color-pick.c4{
    background-color: #8e48eb;
}


